.table-page {
  .my-sticky-header-column-table {
    /* height or max-height is important */
    height: calc(100vh - 150px);

    /* specifying max-width so the example can
      highlight the sticky column on any browser window */
    max-width: 1350px;
    // background-color: white;
    // color: black;
    thead td:first-child {
      /* bg color is important for td; just specify one */
      background-color: #5abd71;
    }

    thead tr th {
      position: sticky;
      /* higher than z-index for td below */
      z-index: 2;
      /* bg color is important; just specify one */
      background: #ffffff;
    }

    /* this will be the loading indicator */
    thead tr:last-child th {
      /* height of all previous header rows */
      top: 48px;
      /* highest z-index */
      z-index: 3;
    }
    thead tr:first-child th {
      top: 0;
      z-index: 1;
    }
    tr:first-child th:first-child {
      /* highest z-index */
      z-index: 3;
    }

    td:first-child {
      // background-color: #c1f4cd;
      background-color: #ffffff;
      z-index: 1;
    }

    td:first-child,
    th:first-child {
      position: sticky;
      left: 0;
    }
  }
}
